body {
    font-family: monospace;
    width: 90%;
    margin: 0 auto;
}

header {
    margin-bottom: 1rem;
    border-bottom: 1px dashed #333333;
}

section {
  font-size: 14px;
}

.back-button {
    padding-bottom: 0.5rem;
}
